{% if pedido %}
    <h1>Pedido Número {{pedido.pk}}</h1>
    <ul>
        <li>cpf_cliente: {{pedido.cpf_cliente}}</li>
        <li>cnpj_empresa: {{pedido.cnpj_empresa}}</li>
        <li>valor: {{pedido.valor}}</li>
        <li>data_emissao: {{pedido.data_emissao}}</li>
        {% if cartao %}
            <li>Cartao:</li>
            <ul>
                <li>num_cartao: {{cartao.num_cartao}}</li>
                <li>cvv: {{cartao.cvv}}</li>
                <li>nome_cartao: {{cartao.nome_cartao}}</li>
                <li>data_vencimento_cartao: {{cartao.data_vencimento_cartao}}</li>
                <li>credito: {{cartao.credito}}</li>
                <li>num_parcelas: {{cartao.num_parcelas}}</li>
            </ul>
        {% elif boleto %}
            <li>Boleto:</li>
            <ul>
                <li>banco: {{boleto.banco}}</li>
                <li>num_boleto: {{boleto.num_boleto}}</li>
                <li>data_vencimento: {{boleto.data_vencimento}}</li>
                <li>nome_empresa: {{boleto.nome_empresa}}</li>
                <li>endereco_empresa: {{boleto.endereco_empresa}}</li>
                <li>status: {{boleto.status}}</li>
            </ul>
        {% endif %}
    </ul>
{% else %}
    <p>Pedido de número {{pedido.pk}} não encontrado!</p>
{% endif %}
<a href="/servico/busca_pedido"> Buscar por Outro ID </a>
