<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
    <title>Cyndello</title>
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
{% block navbar %}
  {% load staticfiles %}
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="/home/">Cyndello</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home/" id="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Produtos</a>
          <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
            {% for categoria in request.session.categorias %}
              <a class="dropdown-item bg-secondary" href="/produtos/{{categoria|safe}}/0">{{categoria}}</a>
            {% endfor %}
            <!-- <a class="dropdown-item bg-secondary" href="/backend/produtos_eletrodomesticos/0">Eletrodomésticos</a>
            <a class="dropdown-item bg-secondary" href="/backend/produtos_computadores/0">Computadores</a>
            <a class="dropdown-item bg-secondary" href="/backend/produtos_celulares/0">Celulares</a> -->
          </div>
        {%if request.session.usuario %}
          <li class="nav-item">
          <a class="nav-link" id="cadastro" href="/minha_conta">Minha Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/meu_carrinho" id="login">Meu Carrinho <span class="fa fa-shopping-cart"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" id="logout">Logout</a>
        </li>
        {%else%}
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cadastro" href="/endereco_cliente">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" id="login">Login</a>
        </li>
        {%endif%}

      </ul>
      <form class="form-inline">
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email">-->
        <!--<input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Senha">-->
        <!--<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Entrar</button>-->

        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>

      </form>
    </div>
  </nav>

  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>
  {% endblock %}

</body>


{% block importacao %}
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}

<script type="text/javascript">
  pathname = window.location.pathname;
  if (pathname.search("home") > 0) {
    $("#home").addClass("active");
    console.log("teste");
  }
  else if (pathname.search("produtos") > 0) {
    $("#navbarDropdown").addClass("active");
  }
  else if (pathname.search("endereco_cliente") > 0) {
    $("#cadastro").addClass("active");
  }
  else if (pathname.search("login") > 0) {
    $("#login").addClass("active");
  }
  else if (pathname.search("sac") > 0) {
    $("#sac").addClass("active");
  }
</script>

{% block scripts %}
{% endblock %}
</html>
