{% extends "base_generic.html" %}

{% block title %}
<title>Cadastro Cliente</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Cadastre-se</h1>
        <p class="text-center">Para criar uma conta no nosso site, basta preencher o formulário abaixo</p>
    </div>

    <div class="container-fluid col-md-4">

        <form action="/backend/cadastra_cliente" method="POST" autocomplete="off">
          <div class="form-row">
              <div class="form-group col-md-12">
                 {{cliente.nome_cliente.label}}
                <br/> {{cliente.nome_cliente}}
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-12">
                  {{cliente.email.label}}
                <br/> {{cliente.email}}
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  {{cliente.senha.label}}
                <br/> {{cliente.senha}}
              </div>
              <div class="form-group col-md-6">
                  {{cliente.cpf.label}}
                <br/> {{cliente.cpf}}
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  {{cliente.data_nascimento.label}}
                <br/> {{cliente.data_nascimento}}
              </div>
                  <div class="form-group col-md-6">
                        {{cliente.telefone.label}}
                    <br/> {{cliente.telefone}}
                  </div>
          </div>
            <div class="form-group row justify-content-md-center">
                <button type="submit" class="btn btn-primary">Criar seu cadastro</button>
            </div>
        </form>
    </div>
{% endblock %}
