<!DOCTYPE html>
<html lang="en">
<head>
  <title>Confirmacao</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

     <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <a class="navbar-brand" href="./home">Cyndello</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="./home">Home <span class="sr-only">span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Produtos <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="./dados_cliente">Cadastro</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SAC</a>
            </li>
          </ul>
          <form class="form-inline">
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Email" aria-label="Email">-->
            <!--<input class="form-control mr-sm-2" type="password" placeholder="Senha" aria-label="Senha">-->
            <!--<button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Entrar</button>-->

                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
    </nav>

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Confirmacao</h1>
        <p class="text-center">Para terminar seu cadastramento, clique abaixo em confirmar</p>
    </div>

    <form action="/backend/confirma_cadastro" method="POST" autocomplete="off">{% csrf_token %}

        <div class="input-group">
             <input hidden name="registerToken" value="{{registerToken}}" />
        </div>

        <div class="form-group row justify-content-md-center">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>

    </form>
</body>
</html>