{% extends "base_generic.html" %}

{% block title %}
<title>Confirma Endereço</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Cadastre-se</h1>
        <p class="text-center">Verifique se os dados abaixo referentes ao seu endereço estão corretos</p>
    </div>

    <div class="container-fluid col-md-4">
        estado: {{'estado'}} <br/>
        cidade: {{'cidade'}} <br/>
        bairro: {{'bairro'}} <br/>
        logradouro: {{'logradouro'}} <br/>
        inicio: {{'inicio'}} <br/>
        fim: {{'fim'}} <br/>
        <a href="endereco_cliente" class="btn btn-primary"> Voltar </a>
        <a href="dados_cliente" class="btn btn-primary"> Avançar </a>
    </div>

{% endblock %}
