{% extends "base_generic.html" %}

{% block title %}
<title>Enredeço Cep</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Cadastre-se</h1>
        <p class="text-center">Para criar uma conta no nosso site, comece colocando o seu endereço abaixo</p>
    </div>

    <div class="container-fluid col-md-4">

        <form action="/backend/endereco_cep" method="POST" autocomplete="off">
          <div class="form-row">
              <div class="form-group col-md-12">
                 {{endereco.cep.label}}
                <br/> {{endereco.cep}}
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">
                  {{endereco.numero_casa.label}}
                <br/> {{endereco.numero_casa}}
              </div>
              <div class="form-group col-md-6">
                  {{endereco.complemento.label}}
                <br/> {{endereco.complemento}}
              </div>
          </div>
            <div class="form-group row justify-content-md-center">
                <button type="submit" class="btn btn-primary">Avançar</button>
            </div>
        </form>
    </div>

{% endblock %}