{% extends "base_generic.html" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Login do cliente</h1>
    </div>

    <div class="container-fluid col-md-4">

        <form action="/backend/resultado_login" method="POST" autocomplete="off">
          <div class="form-row">
              <div class="form-group col-md-12">
                  {{cliente.email.label}}
                <br/> {{cliente.email}}
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-12">
                  {{cliente.senha.label}}
                <br/> {{cliente.senha}}
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
        <a href="./recuperar.html color-primary"> Esqueci minha senha </a>

    </div>

  {% endblock %}