{% extends "base_generic.html" %}

{% block title %}
<title>Meu Carrinho</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Meu Carrinho </h1>
        </div>
      </div>
<div class="container">
<table id="tabela_produtos" class="" style="width:100%">

        <tbody>
            {% for produto in produtos %}
            <tr style="border-bottom: 1px solid black;">
                <td>
                  <img style="height:300px; width:auto; margin: 20px;" class="card-img-top" src="{% static "backend/fogao1.jpg" %}" alt="Imagem de eletrodomésticos" />
                </td>
                <td>
                  <h4>{{produto.name|safe}}</h4>
                  <br>
                  {{ produto.description|safe }}
                  <br><br>
                  <strong>R$<span id="valor_unitario" value="{{ produto.value|safe }}">{{ produto.value|safe }}</span></strong>
                </td>

                <td>
                  <form style="margin: 15px;" action="/meu_carrinho/">
                    Quantidade:
                    <input type="number" name="quantity" onkeypress="atualiza_valor()" onclick="atualiza_valor()" id="quantidade" min="0" max="100" step="1" value="1">
                      <button type="button" class="btn btn-link">
                          Verificar Disponibilidade
                      </button>
                  </form>
                </td>
                <td>
                  <strong>Valor total</strong>
                  <br/>
                  R$<span id="valor_total">2000</span>

                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
 </div>
<div class="container">
</br>
   <button type="button" style="float:right" class="btn btn-warning">
       <span class="fa fa-shopping-cart"></span> Efetuar pagamento
   </button>
   <br/>
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#tabela_produtos').DataTable();
    atualiza_valor();
} );
  atualiza_valor();

  function atualiza_valor() {
    valor_total = $('#valor_unitario').html()*$('#quantidade').val();
    $('#valor_total').html(valor_total);
  }

</script>

{% endblock %}
