{% extends "base_generic.html" %}

{% block title %}
<title>Meu Carrinho</title>
{% endblock %}

{% block style %}
<style>

.loading-gif {
position: absolute;
top: 50%;
left: 50%;
margin: -50px 0px 0px -50px;
}


.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  z-index:1002;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#fff;
    opacity:0.8;
    z-index:1001;
}
</style>

{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1>Meu Carrinho </h1>
        </div>
      </div>
<div class="container">
<table id="tabela_produtos" class="" style="width:100%">

        <tbody>
            {% for produto in produtos %}
            <tr style="border-bottom: 1px solid black;" class="produto">
                <td>
                  <img style="height:300px; width:auto; margin: 20px;" class="card-img-top" src={{ produto.images.0.url }} alt="Imagem de eletrodomésticos" />
                </td>
                <td>
                  <h4>{{produto.name|safe}}</h4>
                  <br>
                  {{ produto.description|safe }}
                  <br><br>
                  {% if produto.onSale %}
                    <small style="text-decoration: line-through;">R${{ produto.value|safe }}</small></br>
                    <strong>R$<span class="valor_unitario">{{ produto.promotionalValue|safe }}</span></strong>
                  {% else %}
                    <strong>R$<span class="valor_unitario">{{ produto.value|safe }}</strong>
                  {% endif %}
                  <!-- <strong>R$<span class="valor_unitario" value="{{ produto.value|safe }}">{{ produto.value|safe }}</span></strong> -->
                  <input hidden value="slafj" class="lksdfj"> <br/>
                  <form action="/remove_carrinho/" method="POST">
                    <input hidden value="{{produto.id}}" name="id_produto" id="id_produto">
                    <!-- <input hidden value="{{produto.quantityInStock}}" class="quantidade_estoque"> -->
                    <button type="submit" class="btn btn-danger">
                        Remover
                    </button>
                  </form>
                </td>

                <td>
                  <form style="margin: 15px;" action="/meu_carrinho/">
                    <h6>Quantidade(<input hidden value="{{produto.quantityInStock|add:produto.quantidade_carrinho}}" class="quantidade_estoque">{{produto.quantityInStock|add:produto.quantidade_carrinho}}</span>):</h6>
                    <input type="number" id="{{produto.id}}" name="quantity" class="unidades" min="0" max="1000" step="1" value="{{produto.quantidade_carrinho}}"
                                                          onclick="atualiza_quantidade(this)">
                  </form>

                </td>
                <td>
                  <strong>Valor total</strong>
                  <br/>
                  R$<span class="valor_total">2000</span>
                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
 </div>
 <div class="container">
     <div class="col-md-6" style="margin-left: 51.3%">
         <br>
         <input type="text"  maxlength="8" minlength="8" class="form-control" id="cep" name="cep" placeholder="CEP: 12345678">
         <br>
         <input type="text" class="form-control" id="numero_residencia" name="numero_residencia" placeholder="Número Residência: 175">
         <br>
         <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento: Ap. 32">
         <br>
         <button class="btn" onClick="calcula_frete()">Calcular Frete</button>
     </div>
     <br>
     <p style="text-align: right;" >Valor Frete: R$<span id="valor_frete">0</span></p>
 </div>
<div class="container">
  <b style="text-align: right;" ><h3>Valor Total: R$<span id="valor_total_pedido">0</span></h3></b>
</div>


<div class="container">
</br>
  <form action="/pagamento/" method="POST" id="form_pagamento">
    <input hidden value='' name="valor_total_form" id="valor_total_form">
     <button type="button" onclick="efetuar_pagamento()" style="float:right" class="btn btn-warning">
         <span class="fa fa-shopping-cart"></span> Efetuar pagamento
     </button>
     <br/>
    </form>
</div>
<div class="loader loading-gif" style="display: none" id="id_loader"></div>
<div class="overlay" style="display: none"></div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#tabela_produtos').DataTable();
    atualiza_valor();
    atualiza_valor_total();
} );
  atualiza_valor();
  atualiza_valor_total();

    // Função que verifica se o frete foi calculado antes ir para a página de pagamento
    function efetuar_pagamento () {
    valor_frete = parseFloat($('#valor_frete').html());
    if ( valor_frete <= 0) {
      alert("Antes de efetuar o pagamento, calcule o frete");
    }
    else {
      $form =   $('#form_pagamento')
      $form.submit();
    }
  }

  //Funcao que realiza uma requisicao na api de logistica e calcula o valor do frete
  function calcula_frete() {
    cep = document.getElementById('cep').value;
    numero_residencia = document.getElementById('numero_residencia').value;
    complemento = document.getElementById('complemento').value;

    $.ajax({
        url: '/get_valor_frete/',
        method: 'POST',
        data: {
          "cep": String(cep),
          "numero_residencia": String(numero_residencia),
          "complemento": String(complemento)
        },
        dataType: 'json',
        success: function (data) {
            $('#valor_frete').html(data["sedexPrice"]);
            atualiza_valor_total();
        }
      });

  }

  // Atualiza quantidade (requisição AJAX para API de produtos)
  function atualiza_quantidade(element) {
    quantidade = $('.produto').length;
    qnt_estoque = $('.quantidade_estoque');
    unidades = $('.unidades');
    for(i = 0; i < quantidade; i++) {
      console.log(qnt_estoque[i].value);
      console.log(unidades[i].value);
      if (parseInt(qnt_estoque[i].value) < parseInt(unidades[i].value)) {
        unidades[i].value = qnt_estoque[i].value
        alert("Limite Excedido")
      }
    }
    atualiza_banco(element);
    atualiza_valor();

  }

  function atualiza_banco(element) {
    // Envia atualização para p BD
    $('#id_loader').css('display', 'block');
    $(".unidades").prop( "disabled", true );
    $(".overlay, .overlay-message").css('display', 'block');
    $.ajax({
        url: '/altera_quantidade/',
        method: 'POST',
        data: {
          'id_produto': element.id,
          'quantidade': element.value,
        },
        dataType: 'json',
        success: function (data) {
          console.log("Quantidade atualizada no BD");
          $('#id_loader').css('display', 'none')
          $(".unidades").prop( "disabled", false );
          $(".overlay, .overlay-message").css('display', 'none')
        }
      });
  }

  // Atualiza os valores totais dos produtos individualmente
  function atualiza_valor() {
    quantidade = $('.produto').length;
    valor = $('.valor_unitario');
    unidades = $('.unidades');
    valor_total = $('.valor_total');
    for(i = 0; i < quantidade; i++) {
        valor_total_produto = parseFloat(valor[i].innerHTML)*unidades[i].value;
        valor_total[i].textContent = valor_total_produto.toFixed(2);
    }
    atualiza_valor_total();
  }

  function atualiza_valor_total () {
    valor_total = $('.valor_total');
    valor_final = 0;
    for (i = 0; i < valor_total.length; i++) {
      valor_final = valor_final + parseFloat(valor_total[i].innerHTML);
    }
    valor_final = valor_final + parseFloat($('#valor_frete').html());
    $('#valor_total_pedido').html(valor_final.toFixed(2));
    $('#valor_total_form').val(valor_final);

    return;
  }


</script>

{% endblock %}
