{% extends "base_generic.html" %}

{% block title %}
<title>Pagamento</title>
{% endblock %}

{% block style %}
<style>
    .bandeira {
        height: 35px;
    }
    .box_op_pagamento {
        margin-top: 30px;
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}
{% load staticfiles %}

<div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Selecione uma forma de pagamento</h1>
            </div>
            <div class="col-12">
                <p>Seja bem-vindo {{pagamento.cliente.nome}}</p>
                <p>O valor total da sua compra é R${{valor_total|floatformat:2}}</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-12">
                <h3>Opções de Pagamento</h3>
            </div>
        </div>
        <br/>

        <div class="row box_op_pagamento">
            <div class="col-md-6">
                <h4>Cartão de Crédito</h4>
            </div>
            <div class="col-md-6">
                <div style="float: right; display: inline; height: 100%;">
                    <img src="{% static "backend/icon_cyndello.jpeg" %}" class="bandeira" />
                    <img src="{% static "backend/icon_master_card.png" %}" class="bandeira" />
                    <img src="{% static "backend/icon_visa.png" %}" class="bandeira" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p style="color:DarkTurquoise">Adicione um Cartão</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>Insira as informações do seu cartão:</p>
            </div>
        </div>
        <form action="/pagamento_cartao/" method="POST" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <div style="margin: 5px; display:inline-block;">
                            {{form_cartao.nome_cartao.label}}
                            <br/> {{form_cartao.nome_cartao}}
                        </div>
                        <div style="margin: 5px; display:inline-block;">
                            {{form_cartao.numero_cartao.label}}
                            <br/> {{form_cartao.numero_cartao}}
                        </div>
                        <div style="margin: 5px; display:inline-block;">
                                {{form_cartao.cvv.label}}
                                <br/> {{form_cartao.cvv}}
                        </div>

                        <div style="margin: 5px; display:inline-block;">
                            {{form_cartao.data_vencimento_cartao.label}}
                            <br/> {{form_cartao.data_vencimento_cartao}}
                        </div>


                        <input hidden name="pk_pagamento" value="{{pagamento.pk}}" />
                        <input hidden name="tipo_pagamento" value="1" />

                        <div style="margin: 5px; display:inline-block;">
                          <br/>
                          <button type="submit"  style="width:100px; height:40px; " class="btn  btn-sm btn-warning">
                              <i class="fa fa-credit-card"></i> Pagar</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
</div>

{% endblock %}
