{% extends "base_generic.html" %}

{% block title %}
<title>Produtos</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <img class="card-img-top" src="{% static "backend/eletrodosmeticos.jpg" %}" alt="Imagem de eletrodomésticos" />
        </div>
      </div>
<div class="container">
<table id="tabela_produtos" class="" style="width:100%">
        
        <tbody>
            <tr style="border-bottom: 1px solid black;">
                <td >
                  <img style="height:300px; width:auto; margin: 20px;" class="card-img-top" src="{% static "backend/fogao1.jpg" %}" alt="Imagem de eletrodomésticos" />
                </td>
                <td>
                  <h4>Fogão de Piso 5 Bocas Preto Atlas U Top Glass Bivolt</h4>
                  <br>
                  Works with Alexa: Ask Alexa to show your front door, kid's room, or anywhere else you have your Wyze Cam
                  <br><br>
                  <strong>R$1.422,90</strong>
                </td>
                
                <td>
                  <button type="button" class="btn btn-warning">
                      <span class="fa fa-shopping-cart"></span> Adicionar no carrinho
                  </button>
                </td>
            </tr>

            <tr style="border-bottom: 1px solid black;">
                <td>
                  <img  style="height:300px; width:auto; margin: 20px;" class="card-img-top" src="{% static "backend/geladeira1.jpg" %}" alt="Imagem de eletrodomésticos" />
                </td>
                <td>
                  <h4>Geladeira / Refrigerador Brastemp Inverse Frost Free BRE50 422L Inox</h4>
                  <br>
                  A Ative Inverse tem capacidade líquida do refrigerador de 302 litros e capacidade do freezer de 120 litros. 
                  <br><br>
                  <strong>R$3.297,80</strong>
                </td>
                
                <td>
                  <button type="button" class="btn btn-warning">
                      <span class="fa fa-shopping-cart"></span> Adicionar no carrinho
                  </button>
                </td>
            </tr>
            
        </tbody>
    </table>
 </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#tabela_produtos').DataTable();
} );
</script>

{% endblock %}