{% extends "base_generic.html" %}

{% block title %}
<title>Recuperar</title>
{% endblock %}

{% block content %}
{% load staticfiles %}

    <div class="container col-md-4">
        <h1 class="display-4 text-center">Recuperar senha</h1>
    </div>

    <div class="container-fluid col-md-4">
        <form>
          <div class="form-row">
              <div class="form-group col-md-12">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" placeholder="Nome@exemplo.com">
              </div>
          </div>
          <button type="submit" class="btn btn-primary">Recuperar senha</button>
        </form>

    </div>

{% endblock %}
