{% extends "base_generic.html" %}

{% block title %}
<title>Produtos</title>
{% endblock %}

{% block content %}
{% load staticfiles %}
<!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <img class="card-img-top" src="{% static "backend/eletrodosmeticos.jpg" %}" alt="Imagem de eletrodomésticos" />
        </div>
      </div>
<div class="container">
<table id="tabela_produtos" class="" style="width:100%">
      <tbody>
        {% for produto in produtos %}
            <tr style="border-bottom: 1px solid black;">
                <td >
                  <img style="height:300px; width:auto; margin: 20px;" class="card-img-top" src={{ produto.images.0.url }} alt="Imagem de eletrodomésticos" />
                </td>
                <td>
                  <h4>{{ produto.name|safe }}</h4>
                  <br>
                  {{ produto.description|safe }}
                  <br><br>
                  {% if produto.onSale %}
                  <small style="text-decoration: line-through;">R${{ produto.value|safe }}</small></br>
                  <strong>R${{ produto.promotionalValue|safe }}</strong>
                  {% else %}
                    <strong>R${{ produto.value|safe }}</strong>
                  {% endif %}
                </td>

                <td>
                  <form action="/altera_produto/" method="POST">
                    <input hidden value="{{produto.id}}" name="id_produto" id="id_produto">
                    <button type="submit" class="btn btn-warning">
                        Alterar Produto
                    </button>
                    <br><br>
                    <p>Quantidade Estoque: {{produto.quantityInStock}}</p>
                  </form>
                </td>
            </tr>
          {% endfor%}
      </tbody>
  </table>
 </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#tabela_produtos').DataTable();
} );
</script>

{% endblock %}
