<!DOCTYPE html>
<html lang="pt-br">

<body>

    Código de retorno CPF: {{status_cpf_comprador}} <br>
    Código de retorno VALOR: {{status_valor_compra}} <br>
    Código de retorno BANCO: {{status_banco_gerador_boleto}} <br>
    Código de retorno CNPJ: {{status_cnpj_site}} <br>
    Código de retorno VENCIMENTO: {{status_data_vencimento_boleto}} <br>
    Código de retorno ENDERECO: {{status_endereco_fisico_site}} <br>
    
    {% if status_cpf_comprador == 0 %}
        {% if status_valor_compra == 0 %}
            {% if status_banco_gerador_boleto == 0 %}
                {% if status_cnpj_site == 0 %}
                    {% if status_data_vencimento_boleto == 0 %}
                        {% if status_endereco_fisico_site == 0 %}
                            Numero do Boleto: {{num_boleto}} <br>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}

    <a href="/servico/pagamento_boleto"> voltar </a>


</body>