<!DOCTYPE html>
<html lang="pt-br">

<body>
    
    <form action="/servico/status_boleto/" method="POST" autocomplete="off">{% csrf_token %}
        <div>
                {{form_cartao.cpf_comprador.label}}
                <br/> {{form_cartao.cpf_comprador}}
        </div>
        <div>
                {{form_cartao.valor_compra.label}}
                <br/> {{form_cartao.valor_compra}}
        </div>
        <div>
                {{form_cartao.banco_gerador_boleto.label}}
                <br/> {{form_cartao.banco_gerador_boleto}}
        </div>
         <div>
                {{form_cartao.cnpj_site.label}}
                <br/> {{form_cartao.cnpj_site}}
        </div>
        <div>
                {{form_cartao.data_vencimento_boleto.label}}
                <br/> {{form_cartao.data_vencimento_boleto}}
        </div>
        <div>
                {{form_cartao.endereco_fisico_site.label}}
                <br/> {{form_cartao.endereco_fisico_site}}
        </div>
    
        <button type="submit" href="#"> Pagar</button>
    </form>

</body>