<!DOCTYPE html>
<html lang='pt-br'>
<head>
<title>Pagamento com Cartão</title>
</head>
<body>
    <h1>Input</h1>
    <form action="/servico/compra_com_cartao/" method="POST"> {% csrf_token %}
        {{form_cartao}}
        <button type="submit" class="active icon-bar" href="#">
                <i class="fa fa-credit-card"></i> Pagar
        </button>
    </form>

    <h1>Output</h1>
    <p>
        Status: {{status}}<br/>
        Mensagem: {{mensagem}}<br/>
        pk_pagamento: {{pk_pagamento}}
    </p>


</body>
</html>
